.app-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.MuiPaper-root {
  padding: 20px;
  margin-bottom: 20px;
}

.MuiTable-root {
  margin-top: 20px;
}

.MuiButton-root {
  margin-right: 10px;
  margin-bottom: 10px;
}

.success-message {
  color: green;
}

.error-message {
  color: red;
}